In [4]:
#right shift operator
#it divides the number by 2
a=10
result=a>>1
print(result)

5

In [6]:
#left shift operator
#it multiplies the number by two
a=10
result=a<<1
print(result)

20

In [7]:
# Taking input from the user
name=input("Enter your name")
print(name)

Enter your nameRajat Chauhan
Rajat Chauhan

In [8]:
# Taking input  and printing using formatting
name=input("ENter your name")
print("welcome {}".format(name))

ENter your nameRajat Chauhan
welcome Rajat Chauhan

# IF STATEMENT

In [9]:
age=20
if(age<25):
    print("Below age")

Below age

In [11]:
age=26
if(age<25):
    print('Below age')
else:
    print("Above age")

Above age

In [14]:
age=int(input("Enter the age"))
if(age<25):
    print("Below age")
elif(age==25):
    print("equal age")
else:
    print("Above age")

Enter the age25
equal age

# FOR LOOP

In [15]:

#for i in range(start,end,jump)

for i in range(0,10,1):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
#loop on a list

fruits=['apple','banana','mango']
for i in fruits:
    print(i)

apple
banana
mango

In [23]:
#print given pattern
# *
# * *
# * * *

rows=3
for i in range(rows):
    for i in range(i+1):
        print("*",end=' ')
    print()

*
* *
* * *

# WHILE LOOP

In [24]:
count=1
while count<5:
    print(count)
    count+=1

1
2
3
4

In [25]:
text=''

while text !='quit':
    text=input("Enter a word or quit to exit")
    print(text)

Enter a word or quit to exitrajat
rajat
Enter a word or quit to exitchauhan
chauhan
Enter a word or quit to exitquit
quit