# Single line comment
"""......""" multi line comment

In [1]:
 a=10
type(a)

int

In [2]:
n=34+4j
type(n)

complex

type() type func. tells us the type of a variable.

True=1
False=0

In [3]:
print(True+True-False)
print(-True)

2
-1

In [4]:
a=int(input("Enter any integer"))
b=int(input("Enter any integer"))
c=int(input("Enter any integer"))

Enter any integer1
Enter any integer2
Enter any integer3

In [5]:
o=(a+b)/c

In [6]:
o1=o+(3+8j)

In [7]:
str(o1)+"rajat"

'(4+8j)rajat'

In [8]:
a=int(input("input a number lesser than 34"))

input a number lesser than 3412

In [9]:
if(a<100):
    print("dataset is lesser than 100")
else:
    print("dataset is greater than 100")

dataset is lesser than 100

In [10]:
if a>10000:
    pass

In [11]:
n=5
for i in range(n,0,-1):
    for j in range(n-i):
        print(" ",end="")
    for k in range(2*i-1):
        print("*",end="")
    print()

*********
 *******
  *****
   ***
    *

In [12]:
n,i=5,5
j,k=0,0
while i>=0:
    while j<n-i:
        print(" ",end="")
        j+=1
    while k<(2*i-1):
        print("*",end="")
        k+=1
    print()
    i-=1

*********

In [2]:
s='this is a full stack class'

In [14]:
#Lenght function used to calculate the length
len(s)

26

In [15]:
for i in s:
    print(i)

t
h
i
s

i
s

a

f
u
l
l

s
t
a
c
k

c
l
a
s
s

Strings are immutable and list are mutable objects

In [16]:
#find function is used to find a substring in a string it returns the starting index of the substring.
s.find("fu")

10

In [17]:
s1="my name is"

In [18]:
s1[3:7]

'name'

In [19]:
b=s1.find("name")
for i in range(len("name")):
    print(b+i)

3
4
5
6

In [20]:
#count function is used to couunt the number of occurence of the substring in a string
s1.count("m")

2

In [21]:
#split function create a list of a given string and split that list on the basis of passed value.
s1.split("a")

['my n', 'me is']

In [22]:
s

'this is a full stack class'

In [23]:
s.upper()

'THIS IS A FULL STACK CLASS'

In [24]:
s.lower()

'this is a full stack class'

In [25]:
s.swapcase()

'THIS IS A FULL STACK CLASS'

In [6]:
#join function will enter hte given value after every character of the given string
" ".join(s)

't h i s   i s   a   f u l l   s t a c k   c l a s s'

In [27]:
#reveresing the given string
s[::-1]

'ssalc kcats lluf a si siht'

In [29]:
list(reversed(s))

['s',
 's',
 'a',
 'l',
 'c',
 ' ',
 'k',
 'c',
 'a',
 't',
 's',
 ' ',
 'l',
 'l',
 'u',
 'f',
 ' ',
 'a',
 ' ',
 's',
 'i',
 ' ',
 's',
 'i',
 'h',
 't']

In [30]:
for i in reversed(s):
    print(i)

s
s
a
l
c

k
c
a
t
s

l
l
u
f

a

s
i

s
i
h
t

In [8]:
#strip function delete the extra space from the starting and the ending of the string
s2="   rajat chauhan     "
s2.strip()

'rajat chauhan'

In [33]:
s2.lstrip()

'rajat   '

In [34]:
s2.rstrip()

'   rajat'

In [35]:
s3="greetings from rajat"

In [36]:
#replace function replace the first parameter from the second parameter
s3.replace("g","s")

'sreetinss from rajat'

In [37]:
s

'this is a full stack class'

In [38]:
s.replace("this","here")

'here is a full stack class'

In [42]:
s2.center(10,"@")

'   rajat   '

In [43]:
s="rajat\tchauhan"

In [44]:
s

'rajat\tchauhan'

In [45]:
s.expandtabs()

'rajat   chauhan'

In [46]:
a="we all are a part of Full Stack"

In [47]:
a.lower()

'we all are a part of full stack'

In [48]:
a.count("a")

5

In [52]:
for i in range(len(a)):
    if a[i]=='a':
        print(i)

3
7
11
14
28

In [50]:
a.replace("a","iNeuron")

'we iNeuronll iNeuronre iNeuron piNeuronrt of Full StiNeuronck'

In [51]:
a.split()

['we', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

In [53]:
s="rajat"
s.isupper()

False

In [54]:
s.islower()

True

In [55]:
s.isdigit()

False

In [56]:
s.isspace()

False

In [57]:
s.endswith("t")

True

In [59]:
s.startswith("s")

False

In [63]:
s.isalpha()

True

In [65]:
s.isalnum()

True

In [2]:
#formatting using format function it will replace the {} from the given string by the passed value in the format function.
name="ineuron"
vowels="AEIOUaeiou"
for i in name:
    if i in vowels:
        print("{} is a vowel".format(i))
    else:
        print("{} is not a vowel".format(i))

i is a vowel
n is not a vowel
e is a vowel
u is a vowel
r is not a vowel
o is a vowel
n is not a vowel

In [4]:
#here {} replaced ny my and is
"{} name {} rajat".format("my","is")

'my name is rajat'